SECRET_KEY=your-super-secret-django-key-change-this-in-production
DEBUG=True
GNEWS_API_KEY=b19874970279ef06d7483370a6aba2d
GOOGLE_CLIENT_ID=565629624615-t8jiuk1lv299vu33qtesomi4pvafj9tg.apps.googleusercontent.com
